<h1>Everyone's Posts</h1>

<%= form_tag 'online' %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= form_for post do |f| %>
    <%= f.label :post %>:
    <%= f.check_box :post %>

    <br />





    <% end %>

<% end %>


<% else %>
<h3> No posts found </h3>
<% end %>
<p><%= link_to 'Home', users_path %></p>


<p>Find me in app/views/posts/index.html.erb</p>
